In [5]:
# import dependences
from pathlib import Path
import math
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import sklearn.preprocessing as preproc
import matplotlib.pyplot as plt

In [6]:
# connect database with sql
import sqlalchemy
from sqlalchemy import create_engine, func
import psycopg2
from sqlalchemy import inspect, MetaData, Table
import os

In [ ]:
# Connect with SQL database 
from getpass import getpass
password = getpass('Enter database password')
engine = create_engine(f'postgresql://postgres:{password}@group10database.cakmngpixa6j.us-east-1.rds.amazonaws.com:5432')

In [ ]:
# Make the connection with the SQL database
conn = engine.connect()

# 1. Preprocess

In [11]:
# Import data from database and set index on the first column
# df = pd.read_sql_query("select * from data_by_year_prov_totals", con=conn)
# df.head()
house_df = pd.read_csv('Resources/all_data.csv')

In [12]:
# drop rows
house_df=house_df.drop(labels=[0,1,2,3,4],axis=0)
house_df.head()

,Provinces,Year,House Prices,Kilotonnes,Crime/100000,Immigration Totals,Med Imm Wages,Household Income,Population
5,PEI,2015,204200.0,1584.0,4750.04,325.0,17500.0,292544.0,578067.0
6,PEI,2016,214700.0,1712.0,5012.62,325.0,23200.0,292419.0,585891.0
7,PEI,2017,240400.0,1762.0,4713.37,325.0,22300.0,299369.0,598819.0
8,PEI,2018,266400.0,1767.0,5391.93,330.0,21500.0,300355.0,612103.0
9,PEI,2019,277300.0,1799.0,6279.33,280.0,27500.0,310472.0,627367.0

In [28]:
# Change the index
house_df.set_index("Year", inplace=True)
house_df.head()

,Provinces,House Prices,Kilotonnes,Crime/100000,Immigration Totals,Med Imm Wages,Household Income,Population
Year,,,,,,,,
2015,PEI,204200.0,1584.0,4750.04,325.0,17500.0,292544.0,578067.0
2016,PEI,214700.0,1712.0,5012.62,325.0,23200.0,292419.0,585891.0
2017,PEI,240400.0,1762.0,4713.37,325.0,22300.0,299369.0,598819.0
2018,PEI,266400.0,1767.0,5391.93,330.0,21500.0,300355.0,612103.0
2019,PEI,277300.0,1799.0,6279.33,280.0,27500.0,310472.0,627367.0

In [29]:
# check null value and data type.
house_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 2015 to 2019
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Provinces           45 non-null     object
 1   House Prices        45 non-null     float64
 2   Kilotonnes          45 non-null     float64
 3   Crime/100000        45 non-null     float64
 4   Immigration Totals  45 non-null     float64
 5   Med Imm Wages       45 non-null     float64
 6   Household Income    45 non-null     float64
 7   Population          45 non-null     float64
dtypes: float64(7), object(1)
memory usage: 3.2+ KB

In [30]:
house_df.describe()

,House Prices,Kilotonnes,Crime/100000,Immigration Totals,Med Imm Wages,Household Income,Population
count,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,4.500000e+01
mean,378188.888889,83020.622222,7339.560889,23120.333333,33326.666667,348916.666667,1.595769e+07
std,168383.083557,84337.534251,2892.578732,28693.906294,5717.850836,47937.914397,1.763654e+07
min,199800.000000,1584.000000,4021.580000,280.000000,17500.000000,289735.000000,5.780670e+05
25%,272100.000000,17709.000000,4750.040000,1435.000000,30700.000000,307157.000000,3.767892e+06
50%,321700.000000,75669.000000,6055.680000,9330.000000,33100.000000,346298.000000,5.327896e+06
75%,429800.000000,91805.000000,9392.190000,33725.000000,36400.000000,376933.000000,2.000143e+07
max,816300.000000,278980.000000,13510.630000,96210.000000,43100.000000,457156.000000,5.807732e+07

In [31]:
house_df.Provinces.value_counts()

PEI              5
Nova Scotia      5
New Brunswick    5
Quebec           5
Ontario          5
Manitoba         5
Saskatchewan     5
Alberta          5
BC               5
Name: Provinces, dtype: int64

In [33]:
# Creating dummy variables for provinces
house_df['Alberta_province'] = np.where(house_df["Provinces"]=='Alberta', 1, 0)
house_df['BritishColumbia_province'] = np.where(house_df["Provinces"]=='British Columbia', 1, 0)
house_df['Manitoba_province'] = np.where(house_df['Provinces']=='Manitoba', 1, 0)
house_df['NewBrunswick_province'] = np.where(house_df['Provinces']=='New Brunswick', 1, 0)
house_df['Newfoundland_and_Labrador_province'] = np.where(house_df['Provinces']=='Newfoundland and Labrador', 1, 0)
house_df['NovaScotia_province'] = np.where(house_df['Provinces']=='Nova Scotia', 1, 0)
house_df['Ontario_province'] = np.where(house_df['Provinces']=='Ontario', 1,0)
house_df['PrinceEdwardIsland_province'] = np.where(house_df['Provinces']=='Prince Edward Island', 1, 0)
house_df['Quebec_province'] = np.where(house_df['Provinces']=='Quebec', 1, 0)
house_df['Saskatchewan_province'] = np.where(house_df['Provinces']=='Saskatchewan', 1, 0)

# Dropping original column state
house_df.drop(columns=['Provinces'], axis=1, inplace=True)

In [35]:
house_df.head()

,House Prices,Kilotonnes,Crime/100000,Immigration Totals,Med Imm Wages,Household Income,Population,Alberta_province,BritishColumbia_province,Manitoba_province,NewBrunswick_province,Newfoundland_and_Labrador_province,NovaScotia_province,Ontario_province,PrinceEdwardIsland_province,Quebec_province,Saskatchewan_province
Year,,,,,,,,,,,,,,,,,
2015,204200.0,1584.0,4750.04,325.0,17500.0,292544.0,578067.0,0,0,0,0,0,0,0,0,0,0
2016,214700.0,1712.0,5012.62,325.0,23200.0,292419.0,585891.0,0,0,0,0,0,0,0,0,0,0
2017,240400.0,1762.0,4713.37,325.0,22300.0,299369.0,598819.0,0,0,0,0,0,0,0,0,0,0
2018,266400.0,1767.0,5391.93,330.0,21500.0,300355.0,612103.0,0,0,0,0,0,0,0,0,0,0
2019,277300.0,1799.0,6279.33,280.0,27500.0,310472.0,627367.0,0,0,0,0,0,0,0,0,0,0

In [36]:
house_df=house_df.reset_index(level=0)
house_df.head()

,Year,House Prices,Kilotonnes,Crime/100000,Immigration Totals,Med Imm Wages,Household Income,Population,Alberta_province,BritishColumbia_province,Manitoba_province,NewBrunswick_province,Newfoundland_and_Labrador_province,NovaScotia_province,Ontario_province,PrinceEdwardIsland_province,Quebec_province,Saskatchewan_province
0,2015,204200.0,1584.0,4750.04,325.0,17500.0,292544.0,578067.0,0,0,0,0,0,0,0,0,0,0
1,2016,214700.0,1712.0,5012.62,325.0,23200.0,292419.0,585891.0,0,0,0,0,0,0,0,0,0,0
2,2017,240400.0,1762.0,4713.37,325.0,22300.0,299369.0,598819.0,0,0,0,0,0,0,0,0,0,0
3,2018,266400.0,1767.0,5391.93,330.0,21500.0,300355.0,612103.0,0,0,0,0,0,0,0,0,0,0
4,2019,277300.0,1799.0,6279.33,280.0,27500.0,310472.0,627367.0,0,0,0,0,0,0,0,0,0,0

In [37]:
#house_df=house_df.drop(["index","level_0"],axis=1)
#house_df.head()

In [41]:
# Create the dependent and independent variables.
dependent_variable = 'House Prices'
independent_variables = house_df.columns.tolist()
independent_variables.remove(dependent_variable)

In [42]:
independent_variables

['Year',
 'Kilotonnes',
 'Crime/100000',
 'Immigration Totals',
 'Med Imm Wages',
 'Household Income',
 'Population',
 'Alberta_province',
 'BritishColumbia_province',
 'Manitoba_province',
 'NewBrunswick_province',
 'Newfoundland_and_Labrador_province',
 'NovaScotia_province',
 'Ontario_province',
 'PrinceEdwardIsland_province',
 'Quebec_province',
 'Saskatchewan_province']

In [43]:
dependent_variable

'House Prices'

In [44]:
# Initilize the train and test split
X = house_df[independent_variables].values

y = house_df[dependent_variable].values

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [46]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [47]:
X_train[0:10]

array([[2.50000000e-01, 2.55421852e-01, 1.00000000e+00, 5.51702560e-02,
        8.32031250e-01, 4.89338668e-01, 6.88275005e-02, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00],
       [1.00000000e+00, 7.49506121e-02, 7.21056376e-01, 9.33409814e-02,
        7.10937500e-01, 4.55790613e-01, 8.50872763e-02, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00],
       [0.00000000e+00, 6.02214884e-01, 0.00000000e+00, 9.50252907e-01,
        4.57031250e-01, 4.32607824e-01, 9.42870234e-01, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00],
       [2.50000000e-01, 2.83735166e-01, 4.70745754e-01, 3.43797257e-01,
        5.15625000e-01, 3.68532175e-01, 3.27113890e-01, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00],
       [5.00000000e-01, 6.41681928e-04, 7.29040315e-02, 0.00000000e+00,
        1.87500000e-01, 5.62583362e-02, 3.60909024e-04, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00],
       [7.50000000e-01, 2.93695655e-01, 4.45710582e-01, 3.48333942e-01,
        6.60156250e-01, 4.67035103e-01, 3.37802046e-01, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00],
       [7.50000000e-01, 3.25242613e-01, 1.50984556e-02, 3.59597434e-01,
        6.64062500e-01, 1.38367037e-01, 5.73512266e-01, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00],
       [0.00000000e+00, 3.19247574e-01, 2.43343643e-02, 3.58554518e-01,
        4.45312500e-01, 0.00000000e+00, 5.58501393e-01, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00],
       [5.00000000e-01, 5.86875802e-01, 2.50699490e-02, 9.71528393e-01,
        5.62500000e-01, 5.16726179e-01, 9.67334759e-01, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00],
       [2.50000000e-01, 3.13576980e-01, 2.22730410e-02, 3.56729415e-01,
        5.03906250e-01, 4.14311604e-02, 5.61664390e-01, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00]])

In [48]:
# fitting multiple linear regression to the training set
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [54]:
# predicting the test results
y_pred = regressor.predict(X_test)
y_pred

array([321868.42877732, 409673.39086877, 305540.75371888, 257282.64829972,
       164383.22149061, 288842.52579946, 306397.25677403, 195076.61702082,
       409602.53482003])

In [50]:
# Calculate the mse
math.sqrt(mean_squared_error(y_test, y_pred))

17750.180352225332

In [52]:
# Calculate R-squared
r2_score(y_test, y_pred)

0.9469223966424384